xml/validate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Numero">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="TitreRevue"/>
        <xs:element name="Rubrique">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="Titre" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element name="Article" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="Titre" minOccurs="0"/>
                    <xs:element type="xs:string" name="Chapeau" minOccurs="0"/>
                    <xs:element type="xs:string" name="Lien" minOccurs="0"/>
                    <xs:element type="xs:string" name="Signature" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="codeRevue"/>
      <xs:attribute type="xs:byte" name="codeNumero"/>
    </xs:complexType>
  </xs:element>
</xs:schema>